rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /Negozi/{negozioId} {
      allow read, write: if request.auth != null;
      match /listaSpesa/{document=**} {
        allow read, write: if request.auth != null;
      }
    }
  }
}
