.container {
  height: 100vh;
  background-color: #ffffff;
  margin-top: 100px !important;
  align-items: center !important;
  justify-content: center !important;
}

.comprato {
  text-decoration: line-through;
  color: grey;
}

.lista-spesa {
  list-style: none;
  padding: 0;
}

.elemento-spesa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.elemento-spesa .nome-prodotto {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 300px;
  margin: auto; /* Centra il form */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stile per i campi di input */
form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input:focus {
  outline: none;
  border-color: #4a90e2;
}

.error-message {
  color: red;
  font-size: 12px;
}

button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex: 1;
}

label {
  margin: 5px;
  font-weight: bold;
}

.quantity-input {
  display: flex;
  align-items: center;
}

.quantity-input button {
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.quantity-input input {
  width: 40px;
  text-align: center;
  margin: 0 8px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.container-save {
  display: flex;
  justify-content: space-between; /* Distribuisce gli elementi sulla riga */
  align-items: center; /* Allinea verticalmente al centro */
}

.button-container {
  margin-left: auto; /* Sposta il contenitore dei bottoni a destra */
}

.container-description {
  margin-top: 5px;
  margin-bottom: 5px;
}

.freccia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.azioni {
  display: flex;
  gap: 10px;
}
